.header.header--lined.header--logged
    .header__top
        .container
            .header__top-inner
                .header__location-wrapper
                  svg.icon.icon-middle.icon-pin
                    use(xlink:href='assets/sprites/sprite.svg#pin')
                  select.header__location.select.select--language
                    option(value='astana') Астана
                    option(value='karaganda') Караганда
                    option(value='pavlodar') Павлодар
                .header__contact
                  svg.icon.icon-middle.icon-phone
                    use(xlink:href='assets/sprites/sprite.svg#phone')
                  a.hover-line.hover-line--thin(href='tel:+84954525622')
                    | 8 495 452-56-22
                  |  / 
                  a.hover-line.hover-line--thin(href='tel:+88003580000')
                    | 8 800 358-00-00
    .header__middle
        .container
            .header__middle-wrapper
                nav.header__navigation
                    ul.header__navigation-list
                        li.header__navigation-item
                            a.header__navigation-link.hover-line.header__navigation-link--active(href='#') женское
                        li.header__navigation-item
                            a.header__navigation-link.hover-line(href='#') мужское
                        li.header__navigation-item
                            a.header__navigation-link.hover-line(href='#') детское
                a.logo(href='#')
                    img(src='assets/icons/logo.svg')
                .header__buttons
                    a.header__join
                        svg.icon.icon-middle.icon-join
                          use(xlink:href='assets/sprites/sprite.svg#join')
                        | Алексей Заморин
                    a.header__liked-btn(href='#')
                        svg.icon.icon-middle.icon-save
                          use(xlink:href='assets/sprites/sprite.svg#save')
                        |                          0
                    a.header__basket-btn.header__basket-btn--not-empty(href='#')
                        svg.icon.icon-middle.icon-cart
                          use(xlink:href='assets/sprites/sprite.svg#cart')
                        |                          2
    .header__bottom
        .container
            .header__bottom-inner
                nav.subnavigation.subnavigation--header
                    ul.subnavigation__list
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') НОВИНКИ
                            .dropdown
                                .dropdown__nav
                                    .dropdown__catogories
                                        span.dropdown__categories-title Одежда
                                        div.simple-navigation
                                            ul.simple-navigation__list
                                                each val in ['Блузы и рубашки', 'Туники', 'Брюки', 'Спортивная одежда', 'Верхняя одежда', 'Джинсы', 'Комбинезоны', 'Костюмы', 'Жилеты', 'Пиджаки', 'Платья', 'Пляжная одежда', 'Трикотаж']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                            ul.simple-navigation__list
                                                each val in ['Пляжная одежда', 'Трикотаж', 'Толстовки', 'Топы', 'Футболки', 'Шорты', 'Юбки', 'Боди', 'Рубашки']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                                li.simple-navigation__item
                                                    a.simple-navigation__link.link(href='#') Все категории
                                    .dropdown__top-categories
                                        span.dropdown__categories-title Топ бренды
                                        .simple-navigation
                                            ul.simple-navigation__list
                                                each val in ['BALENCIAGA', 'BALMAIN', 'BOTTEGA VENETA', 'BRUNELLO CUCINELLI', 'CELINE', 'DOLCE & GABBANA', 'ETRO', 'GUCCI', 'LOEWE', 'LORO PIANA', 'PHILIPP PLEIN']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                                li.simple-navigation__item
                                                    a.simple-navigation__link.link(href='#') Все бренды
                                .dropdown__slider.slider
                                    span.dropdown__categories-title SALE одежда
                                    include _mini-slider.pug
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') ДИЗАЙНЕРЫ
                            .dropdown
                                .dropdown__nav
                                    .dropdown__catogories
                                        span.dropdown__categories-title Одежда
                                        div.simple-navigation
                                            ul.simple-navigation__list
                                                each val in ['Блузы и рубашки', 'Туники', 'Брюки', 'Спортивная одежда', 'Верхняя одежда', 'Джинсы', 'Комбинезоны', 'Костюмы', 'Жилеты', 'Пиджаки', 'Платья', 'Пляжная одежда', 'Трикотаж']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                            ul.simple-navigation__list
                                                each val in ['Пляжная одежда', 'Трикотаж', 'Толстовки', 'Топы', 'Футболки', 'Шорты', 'Юбки', 'Боди', 'Рубашки']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                                li.simple-navigation__item
                                                    a.simple-navigation__link.link(href='#') Все категории
                                    .dropdown__top-categories
                                        span.dropdown__categories-title Топ бренды
                                        .simple-navigation
                                            ul.simple-navigation__list
                                                each val in ['BALENCIAGA', 'BALMAIN', 'BOTTEGA VENETA', 'BRUNELLO CUCINELLI', 'CELINE', 'DOLCE & GABBANA', 'ETRO', 'GUCCI', 'LOEWE', 'LORO PIANA', 'PHILIPP PLEIN']
                                                    li.simple-navigation__item
                                                        a.simple-navigation__link(href='#')=val 
                                                li.simple-navigation__item
                                                    a.simple-navigation__link.link(href='#') Все бренды
                                .dropdown__slider.slider
                                    span.dropdown__categories-title SALE одежда
                                    include _mini-slider.pug
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') ОДЕЖДА
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') ОБУВЬ
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') СУМКИ
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') АКСЕССУАРЫ
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') ПОДАРКИ
                        li.subnavigation__item
                            a.subnavigation__link.hover-line(href='#') SALE
                .header__search-wrapper
                    .header__search.input-wrapper.input-wrapper--search
                        svg.icon.icon-middle.icon-search
                            use(xlink:href='assets/sprites/sprite.svg#search')
                        input.header__search-input.input.input--small(type='text' placeholder='Более 10 000 товаров для Вас')
                    .header__searched
                        include _card-search.pug
                        include _card-search.pug
                        include _card-search.pug
                        include _card-search.pug
                        include _white-btn.pug

include _header-mobile.pug