|       <div class="slider--mini swiper-container">
|           <div class="swiper-wrapper">
a.card.card--haveDiscount.swiper-slide(
                href='#'
            )
                span.card__inner
                    span.card__top
                        span.card__discount 70%
                        span.card__like
                            svg
                                use(
                                    xlink:href="assets/sprites/sprite.svg#save"
                                )
                        img(src='temp/novelty-week-1.jpg')
                    span.card__title
                        | Isabel Marant 
                    span.card__descr
                        | Розовый комбинезон Etundra
                    span.card__price
                        span.card__price--old 109 990 ₸
                        | 29 995 ₸
                    span.card__hover-panel
                        span.card__cart
                            svg.icon.icon-cart
                                use(
                                    xlink:href="assets/sprites/sprite.svg#cart"
                                )
                        span.card__quick(data-fancybox data-src="#card-modal-1") Быстрый просмотр
a.card.card--haveDiscount.swiper-slide(
                href='#'
            )
                span.card__inner
                    span.card__top
                        span.card__discount 70%
                        span.card__like
                            svg
                                use(
                                    xlink:href="assets/sprites/sprite.svg#save"
                                )
                        img(src='temp/novelty-week-2.jpg')
                    span.card__title
                        | Valentino
                    span.card__descr
                        | Укороченные расклешенные брюки
                    span.card__price
                        span.card__price--old 65 990 ₸
                        | 32 995 ₸
                    span.card__hover-panel
                        span.card__cart
                            svg.icon.icon-cart
                                use(
                                    xlink:href="assets/sprites/sprite.svg#cart"
                                )
                        span.card__quick(data-fancybox data-src="#card-modal-1") Быстрый просмотр
a.card.card--haveDiscount.swiper-slide(
                href='#'
            )
                span.card__inner
                    span.card__top
                        span.card__discount 70%
                        span.card__like
                            svg
                                use(
                                    xlink:href="assets/sprites/sprite.svg#save"
                                )
                        img(src='temp/novelty-week-1.jpg')
                    span.card__title
                        | Isabel Marant 
                    span.card__descr
                        | Розовый комбинезон Etundra
                    span.card__price
                        span.card__price--old 109 990 ₸
                        | 29 995 ₸
                    span.card__hover-panel
                        span.card__cart
                            svg.icon.icon-cart
                                use(
                                    xlink:href="assets/sprites/sprite.svg#cart"
                                )
                        span.card__quick(data-fancybox data-src="#card-modal-1") Быстрый просмотр
a.card.card--haveDiscount.swiper-slide(
                href='#'
            )
                span.card__inner
                    span.card__top
                        span.card__discount 70%
                        span.card__like
                            svg
                                use(
                                    xlink:href="assets/sprites/sprite.svg#save"
                                )
                        img(src='temp/novelty-week-2.jpg')
                    span.card__title
                        | Valentino
                    span.card__descr
                        | Укороченные расклешенные брюки
                    span.card__price
                        span.card__price--old 65 990 ₸
                        | 32 995 ₸
                    span.card__hover-panel
                        span.card__cart
                            svg.icon.icon-cart
                                use(
                                    xlink:href="assets/sprites/sprite.svg#cart"
                                )
                        span.card__quick(data-fancybox data-src="#card-modal-1") Быстрый просмотр
a.card.card--haveDiscount.swiper-slide(
                href='#'
            )
                span.card__inner
                    span.card__top
                        span.card__discount 70%
                        span.card__like
                            svg
                                use(
                                    xlink:href="assets/sprites/sprite.svg#save"
                                )
                        img(src='temp/novelty-week-2.jpg')
                    span.card__title
                        | Valentino
                    span.card__descr
                        | Укороченные расклешенные брюки
                    span.card__price
                        span.card__price--old 65 990 ₸
                        | 32 995 ₸
                    span.card__hover-panel
                        span.card__cart
                            svg.icon.icon-cart
                                use(
                                    xlink:href="assets/sprites/sprite.svg#cart"
                                )
                        span.card__quick(data-fancybox data-src="#card-modal-1") Быстрый просмотр
|           </div>
|       </div>
|       <div class="arrow-prev" id='arrow-prev--mini'></div>
|       <div class="arrow-next" id='arrow-next--mini'></div>