section.card-up
    .container
        .card-up__inner
            .card-up__left
                .card-up__gallery
                    .card-up__navigation.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src='temp/card-up-navigation-1.jpg')
                            .swiper-slide
                                img(src='temp/card-up-navigation-2.jpg')
                            .swiper-slide
                                img(src='temp/card-up-navigation-3.jpg')
                            .swiper-slide
                                img(src='temp/card-up-navigation-4.jpg')
                            .swiper-slide
                                img(src='temp/card-up-navigation-4.jpg')
                    .arrow-prev.card-up-gallery(id='card-up-navigation-prev')
                    .arrow-next.card-up-gallery(id='card-up-navigation-next')
                    .card-up__big.swiper-container
                        .swiper-wrapper
                            a.swiper-slide(data-fancybox="gallery" data-src="temp/preview-1.jpg")
                                img(src='temp/preview-1.jpg')
                            a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-2.jpg")
                                img(src='temp/card-up-navigation-2.jpg')
                            a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-3.jpg")
                                img(src='temp/card-up-navigation-3.jpg')
                            a.swiper-slide(data-fancybox="gallery" data-src="temp/card-up-navigation-4.jpg")
                                img(src='temp/card-up-navigation-4.jpg')
                            a.swiper-slide(data-fancybox="gallery" data-src="temp/preview-1.jpg")
                                img(src='temp/preview-1.jpg')
                            svg.icon.icon-resize
                                use(
                                    xlink:href="assets/sprites/sprite.svg#star"
                                )
                .card-up__reviews.reviews
                    .reviews__head
                        h2.subtitle отзывы
                        div.stars
                            li.stars__number 4,8
                            ul.stars__list
                                li.stars__item
                                    svg.icon.icon-star
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#star"
                                        )
                                li.stars__item
                                    svg.icon.icon-star
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#star"
                                        )
                                li.stars__item
                                    svg.icon.icon-star
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#star"
                                        )                                  
                                li.stars__item
                                    svg.icon.icon-star
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#star"
                                        )                             
                                li.stars__item
                                    svg.icon.icon-star
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#star"
                                        )
                                ul.stars__list--active(style='max-width: 96%')
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                                  
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                             
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                            li.stars__all 14 человек
                        a.reviews__leave.link(href='#') Оставить отзыв
                    ul.reviews__list
                        li.reviews__item
                            .reviews__item-head
                                ul.stars__list
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                                  
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                             
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    ul.stars__list--active(style='max-width: 100%')
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                                  
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                             
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                p.reviews__item-owner Анна, г. Астана, 18 декабря 2020
                            p.reviews__item-text
                                | Вообще с платьями у меня сложные отношения. Не всегда удается найти что-то на большую грудь. Ну и чего уж там, и на немаленький живот. При этом я не очень люблю платья-мешки.
                                | Встретила это платье - и не смогла устоять. Сначала меня подкупила цена! Всего 500 руб! 
                                | У нас за такие деньги можно купить только футболку, и то, сомнительного качества.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    svg.icon.icon-like
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#like"
                                        )
                                    | 1
                                span.reviews__item-dislike
                                    svg.icon.icon-dislike
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#dislike"
                                        )
                                    | 0
                        li.reviews__item
                            .reviews__item-head
                                ul.stars__list
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                                  
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                             
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    ul.stars__list--active(style='max-width: calc(90% + 1.6px)')
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                                  
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                             
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                p.reviews__item-owner Валентина, г. Астана, 14 марта 2021
                            p.reviews__item-text
                                | Заказ пришёл из интернет-магазина быстро. Сначала я хотела поменять на размер побольше, потому что показалось, что немного тянет в груди. Но потом я всё-таки решила померить его ещё и дома и не стала ничего менять.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    svg.icon.icon-like
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#like"
                                        )
                                    | 1
                                span.reviews__item-dislike
                                    svg.icon.icon-dislike
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#dislike"
                                        )
                                    | 0
                        li.reviews__item
                            .reviews__item-head
                                ul.stars__list
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                                  
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )                             
                                    li.stars__item
                                        svg.icon.icon-star
                                            use(
                                                xlink:href="assets/sprites/sprite.svg#star"
                                            )
                                    ul.stars__list--active(style='max-width: 100%')
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                                  
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )                             
                                        li.stars__item
                                            svg.icon.icon-star
                                                use(
                                                    xlink:href="assets/sprites/sprite.svg#star"
                                                )
                                p.reviews__item-owner Анна, г. Астана, 18 декабря 2020
                            p.reviews__item-text
                                | Вообще с платьями у меня сложные отношения. Не всегда удается найти что-то на большую грудь. Ну и чего уж там, и на немаленький живот. При этом я не очень люблю платья-мешки.
                                | Встретила это платье - и не смогла устоять. Сначала меня подкупила цена! Всего 500 руб! 
                                | У нас за такие деньги можно купить только футболку, и то, сомнительного качества.
                            p.reviews__item-useful
                                | Полезный отзыв?
                                span.reviews__item-like
                                    svg.icon.icon-like
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#like"
                                        )
                                    | 1
                                span.reviews__item-dislike
                                    svg.icon.icon-dislike
                                        use(
                                            xlink:href="assets/sprites/sprite.svg#dislike"
                                        )
                                    | 0
                    .reviews__footer 
                        .tabs.pagination__list
                            p.pagination__descr Страницы: &nbsp;
                            a.tab.pagination__item.hover-line.hover-line--thin.tab--active
                                span.pagination__link 1
                            a.tab.pagination__item.hover-line.hover-line--thin
                                span.pagination__link 2
                            a.tab.pagination__item.hover-line.hover-line--thin
                                span.pagination__link 3
                            a.tab.pagination__item.hover-line.hover-line--thin 
                                span.pagination__link 4
                        button.reviews__close.link Свернуть все отзывы
                        a.reviews__all.link(href='#') Все отзывы
            .card-up__right.card-modal--haveDiscount
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__content(href='#') Женская 
                    li.breadcrumbs__item
                        a.breadcrumbs__content(href='#') Одежда
                    li.breadcrumbs__item
                        a.breadcrumbs__content(href='#') Трикотаж
                    li.breadcrumbs__item
                        span.breadcrumbs__content Свитеры
                h1.card-modal__title СВИТЕР УДЛИНЕННЫЙ MM6
                .card-modal__descr-block
                    p.card-modal__descr Бежевый свитер
                    p.card-modal__article Артикул: 255461
                span.card__price
                    span.card__price--old 65 990 ₸
                    | 32 995 ₸
                p.card-modal__curr-color Выберите цвет:
                    span Светлобежевый
                .card-modal__colors-list
                    label.label--have-checkbox.label--colorpick
                        input.checkbox(type="radio" name='card-colorpick' checked)
                        span.checkbox-style(style='background-color: #ddc5b9')
                    label.label--have-checkbox.label--colorpick
                        input.checkbox(type="radio" name='card-colorpick')
                        span.checkbox-style(style='background-color: #5d5d62')
                    label.label--have-checkbox.label--colorpick
                        input.checkbox(type="radio" name='card-colorpick')
                        span.checkbox-style(style='background-color: #c5c5c8')
                p.card-modal__curr-size Выберите цвет:
                    a(href='#') Таблица размеров
                .card-modal__size-list
                    label.label--have-checkbox.label--sizepick
                        input.checkbox(type="radio" name='card-sizepick' checked)
                        span.checkbox-style S
                    label.label--have-checkbox.label--sizepick
                        input.checkbox(type="radio" name='card-sizepick' disabled)
                        span.checkbox-style M
                    label.label--have-checkbox.label--sizepick
                        input.checkbox(type="radio" name='card-sizepick')
                        span.checkbox-style L
                    label.label--have-checkbox.label--sizepick
                        input.checkbox(type="radio" name='card-sizepick')
                        span.checkbox-style XL
                .card-modal__buttons
                    button.card__cart-btn.btn добавить в корзину
                    span.card__like
                        svg.icon.icon-save
                            use(
                                xlink:href="assets/sprites/sprite.svg#save"
                            )
                a.card-modal__link(href='#')
                    svg.icon.icon-box
                        use(
                            xlink:href="assets/sprites/sprite.svg#box"
                        )
                    span.link Проверить наличие в магазине
                ul.card-up__details-wrapper
                    li.accordion-wrapper
                        button.accordion-head Детали
                        .accordion-body
                            ul.card-up__details-list
                                each val in ['Бренд', 'Страна производства' , 'Состав', 'Цвет', 'Артикул', 'Штрих-код', 'Параметры модели']   
                                    li.card-up__details-listitem=val 
                            ul.card-up__details-list   
                                li.card-up__details-listitem.link MM6 
                                each val in ['РУМЫНИЯ' , '70% вискоза, 30% полиэстер', 'Бежевый', 'S52HA0160 121', '3226163', '176/80/60/86, размер на модели – 42RU']   
                                    li.card-up__details-listitem=val 
                    li.accordion-wrapper
                        button.accordion-head Оплата
                        .accordion-body
                            ul.card-up__details-list
                                each val in ['Бренд', 'Страна производства' , 'Состав', 'Цвет', 'Артикул', 'Штрих-код', 'Параметры модели']   
                                    li.card-up__details-listitem=val 
                            ul.card-up__details-list   
                                li.card-up__details-listitem.link MM6 
                                each val in ['РУМЫНИЯ' , '70% вискоза, 30% полиэстер', 'Бежевый', 'S52HA0160 121', '3226163', '176/80/60/86, размер на модели – 42RU']   
                                    li.card-up__details-listitem=val 
                    li.accordion-wrapper
                        button.accordion-head Доставка и возврат
                        .accordion-body
                            ul.card-up__details-list
                                each val in ['Бренд', 'Страна производства' , 'Состав', 'Цвет', 'Артикул', 'Штрих-код', 'Параметры модели']   
                                    li.card-up__details-listitem=val 
                            ul.card-up__details-list   
                                li.card-up__details-listitem.link MM6 
                                each val in ['РУМЫНИЯ' , '70% вискоза, 30% полиэстер', 'Бежевый', 'S52HA0160 121', '3226163', '176/80/60/86, размер на модели – 42RU']   
                                    li.card-up__details-listitem=val 
hr.line.line--card-up(noshade)

section.slider.slider--left
    .container
        h3.subtitle так же рекомендуем
        include ../components/_slider-auto.pug

hr.line.line--card-up(noshade)

section.slider.slider--left
    .container
        h3.subtitle недавно просмотренные
        include ../components/_slider-auto.pug